@import "compass";


// background colours
$skyblue: #3D59AB;
$springgreen: #008B45;
$desertRed: #A02422;


@font-face {
    font-family: 'netto_otregular';
    src: url('fonts/netto_ot_light-webfont.eot');
    src: url('fonts/netto_ot_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/netto_ot_light-webfont.woff') format('woff'),
         url('fonts/netto_ot_light-webfont.ttf') format('truetype'),
         url('fonts/netto_ot_light-webfont.svg#netto_otregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


//	w3c version for setting the view port (similar to apples meta tag)
//	100% is like device-width however for the current window size
@-webkit-viewport {
	width: 100%;
}
@-moz-viewport {
	width: 100%;
}
@-ms-viewport {
	width: 100%;
}
@-o-viewport {
	width: 100%;
} 
@viewport {
	width: 100%;
}



body, html, div.container {
	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;

	overflow: hidden;

	color: white;
	font-weight: normal;
	font-family:'netto_otregular';
	font-size: 150%;

	-webkit-transition: background-color 4s;
	-moz-transition: background-color 4s;
	-ms-transition: background-color 4s;
	-o-transition: background-color 4s;
	transition: background-color 4s;

	&.red {
		background-color: $desertRed;
	}

	&.green {
		background-color: $springgreen;
	}

	&.blue {
		background-color: $skyblue;
	}
}

h1, h2 {
	margin: 0;
	padding: 0;

	font-weight: normal;
}



header {

	height: 20%;

	h1 {
		display: inline-block;
		padding-left: 20px;
	}

	&> div {
		float: right;
		margin-top: 20px;
		margin-right: 20px;
	}

	nav {
		text-align: center;
		margin: 0 auto;

		a {
			display: inline-block;
			width: 15%;
			height: 20%;

			text-decoration: none;
			color: white;

			@include border-radius(10px);

			&.is-active {
				@include box-shadow(white 0px 0px 15px);
			}
		}
	}
}

#ng-view {
	height: 80%;
	width: 100%;

	text-align: center;
	display: table;

	article {
		display: table-row;
		width: 100%;
		height: 100%;

		section {
			font-size: 140%;

			display: table-cell;
			vertical-align: middle;

			.drag-example {
				position: absolute;
				height: 4em;
				width: 4em;

				top: 40%;
				left: 3%;

				z-index: 10;
				border: 5px solid black;
			}

			iframe {
				width: 100%;
				height: 100%;
				border: none;
			}

			ul {
				text-align: left;
			}
		}
	}
}







///
// Slider styles!

div.core-slider-animate > * {
    -webkit-transition:all ease-in-out 0.15s;
    -moz-transition:all ease-in-out 0.15s;
    -ms-transition:all ease-in-out 0.15s;
    -o-transition:all ease-in-out 0.15s;
    transition:all ease-in-out 0.15s;
}


div.core-range-input {
    margin: 25px 25px 25px 25px;
}


/* slider root element */
div.core-range-input > div.core-slider {
    height: 18px;
    border-width: 1px;

    background-color: transparent;
    background: 0;
    cursor: pointer;

    position: relative;
    overflow: visible;

    
    @include border-radius(1em);

    text-decoration: none;

    border: 1px solid #bbb;
    -webkit-text-shadow: 0 1px 0 #fff;
    -moz-text-shadow: 0 1px 0 #fff;
    -ms-text-shadow: 0 1px 0 #fff;
    -o-text-shadow: 0 1px 0 #fff;
    text-shadow: 0 1px 0 #fff;

    @include background-image(linear-gradient(#d0d0d0,#dfdfdf));
}

/* progress bar (enabled with progress: true) */
div.core-range-input > div.core-slider > div.progress {
    border: 0;
    height: 100%;
    
    @include background-clip(padding-box);
    @include border-radius(1em);

    margin-top: -1px;
    margin-left: -1px;
    border: 1px solid #2373a5;
    background: #5393c5;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    text-shadow: 0 1px 0 #3373a5;
    text-decoration: none;

    @include background-image(linear-gradient(#5393c5,#6facd5));
}

/* drag handle */
div.core-range-input > div.core-slider > span.handle {
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 30px;
    height: 30px;
    margin: -17px 0 0 -15px;
    outline: 0;

    display: block;
    text-align: center;
    cursor: pointer;

    padding: 0;

    @include box-shadow(0 1px 3px rgba(0,0,0,.2));
    @include background-clip(padding-box);
    @include border-radius(1em);

    text-decoration: none;

    border: 1px solid #ccc;
    background: #eee;
    font-weight: 700;
    text-shadow: 0 1px 0 #fff;


    @include background-image(linear-gradient(#fff,#f1f1f1));
}


div.core-range-input > input {
    display: none;
}

