<!DOCTYPE html> 
<html data-ng-app="Presentation" data-ng-controller="PresentCtrl">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <title>Experiences in AngularJS</title>
	    <meta name="description" content="Advanced routing and cross platform mobile development">

	    <!--
	      http://www.mollerus.net/tom/blog/2010/06/web_app_homescreen_icons_in_android.html
	      https://developer.apple.com/library/ios/#documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html
	      http://blogs.msdn.com/b/ie/archive/2012/04/03/pinned-sites-in-windows-8.aspx
	      http://blogs.msdn.com/b/ie/archive/2012/06/08/high-quality-visuals-for-pinned-sites-in-windows-8.aspx
	      http://www.xiconeditor.com/
	     -->
	    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
	    <link rel="icon" type="image/png" href="images/favicon/16.png" sizes="16x16">
	    <link rel="icon" type="image/png" href="images/favicon/32.png" sizes="32x32">
	    <link rel="icon" type="image/png" href="images/favicon/48.png" sizes="48x48">
	    <link rel="icon" type="image/png" href="images/favicon/64.png" sizes="64x64">
	    <link rel="icon" type="image/png" href="images/favicon/128.png" sizes="128x128">

	    <meta name="msapplication-TileImage" content="images/favicon/144_win8.png" />
	    <meta name="msapplication-TileColor" content="#8DC63F" />
	    <meta name="application-name" content="AngularJS Meetup" />
	    <meta name="msapplication-tooltip" content="Routing and Mobile Presentation" />
	    <meta name="msapplication-starturl" content="./" />
	    <meta name="msapplication-navbutton-color" content="#8DC63F" />

	    <!-- For third-generation iPad with high-resolution Retina display: -->
	    <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/144.png" />
	    <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: (TODO) -->
		<!-- <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/120.png"> -->
	    <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
	    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/114.png" />
	    <!-- For first- and second-generation iPad: -->
	    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/72.png" />
	    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
	    <link rel="apple-touch-icon-precomposed" href="images/favicon/57.png" />

	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">


	    <!-- build:css styles/main.css -->
	    <link rel="stylesheet" href="styles/main.css">
	    <!-- endbuild -->
	</head>

	<body class="ng-cloak" ng-class="backColour" ng-swipe-left="next();" ng-swipe-right="previous();">
		<header>
			<h1 goto="introduction" slide="1">Routing and Mobile</h1>
			<div>
				<span>Background:</span>
				<select ng-model="backColour" ng-options="c for c in colours"></select>
			</div>
			<nav>
				<a goto='history' slide="1">History</a>
				<a goto='routing' slide="1">Routing</a>
				<a goto='gestures' slide="1">Gestures</a>
				<a goto='examples' slide="1">Examples</a>
			</nav>
		</header>

		<div data-ng-view id="ng-view"></div>

		<!-- build:js scripts/scripts.js -->
			<script src="components/jquery/jquery.js"></script>
			<script src="components/angular-unstable/angular.js"></script>
			<script src="components/angular-gesture/ngMobile/mobile.js"></script>
			<script src="components/angular-gesture/ngMobile/directive/ngClick.js"></script>
			<script src="components/angular-gesture/ngMobile/directive/ngDrag.js"></script>
			<script src="components/angular-gesture/ngMobile/directive/ngSwipe.js"></script>
			<script src="components/angular-gesture/ngMobile/directive/ngTouch.js"></script>

			<script src="scripts/core/polyfills/requestAnimationFrame.js"></script>
			<script src="scripts/core/core.js"></script>
			<script src="scripts/core/services/safe-apply.js"></script>
			<script src="scripts/core/services/named-routes.js"></script>
			<script src="scripts/core/directives/goto.js"></script>
			<script src="scripts/core/directives/range-input.js"></script>

			<script src="scripts/app.js"></script>
		<!-- endbuild -->
	<body>
</html>
