<article ng-switch="slide" ng-cloak>
	<section ng-switch-when="1">
		<h2>Built in Tools</h2>
		<div style="display:inline-block">
			<ul>
				<li>ng-click targets desktop browsers by default</li>
				<li>$mobile overwrites and extends this for mobile</li>
				<li><ul>
					<li>Basic touch support (no multi-touch)</li>
					<li>Doesn't capture the input</li>
					<li>Nice Angular syntax</li>
				</ul></li>
			</ul>
		</div>
	</section>
	<section ng-switch-when="2">
		<h2>HammerJS</h2>
		<div style="display:inline-block">
			<ul>
				<li>jQuery not Angular</li>
				<li>Can only multi-touch a single element at a time</li>
				<li>Triggers events even if nothing is listening</li>
				<li>Otherwise pretty cool!</li>
			</ul>
		</div>
	</section>
	<section ng-switch-when="3">
		<h2>We merged them!</h2>
	</section>
</article>
