

<article ng-switch="slide" ng-cloak>
	<section ng-switch-when="1">
		<h2>The Problem</h2>
		<div style="display:inline-block">
			<ul>
				<li>Sub-view support is lacking</li>
				<li>Angular-UI doesn't solve basic issues</li>
				<li>In my opinion. Routes should === state</li>
			</ul>
		</div>
	</section>
	<section ng-switch-when="2">
		<h2>Why this is hard</h2>
		<div style="display:inline-block">
			<ul>
				<li>Which tab should I highlight?</li>
				<li>Which links need to be updated to reflect changes?</li>
				<li>I don't want to type the full path to a route everytime I want to update a subset of it</li>
			</ul>
		</div>
	</section>
	<section ng-switch-when="3">
		<h2>Other issues</h2>
		<div style="display:inline-block">
			<ul>
				<li>AngularJS is Desktop First, Mobile second</li>
				<li>AngularJS Mobile (in unstable) requires ng-click use over href</li>
			</ul>
		</div>
	</section>
	
</article>

