
<article ng-switch="slide" ng-cloak>
	<section ng-switch-when="1">
		How to stay 'DRY' and provide native application-like experiences across heterogeneous mobile platforms
	</section>
	<section ng-switch-when="2">
		<img src="images/media_repeat.png" />
		<h2>Don't Repeat Yourself</h2>
	</section>
	<section ng-switch-when="3">
		<h2>App-like?</h2>
		<div style="display:inline-block">
			<ul>
				<li>Responsive</li>
				<li>Fast</li>
				<li>Gestures</li>
			</ul>
		</div>
	</section>
	<section ng-switch-when="4">
		<h2>Cross Platform Results</h2>

		<table style="width:80%; text-align: right; margin: 0 auto">
			<tr>
				<td style="width:20%;">
					Red
				</td>
				<td style="width:80%;">
					<range class="red-range" min="0" max="255" value="20"></range>
				</td>
			</tr>
			<tr>
				<td>
					Green
				</td>
				<td>
			   		<range class="green-range" min="0" max="255" value="150"></range>
				</td>
			</tr>
			<tr>
				<td>
					Blue
				</td>
				<td>
			   		<range class="blue-range" min="0" max="255" value="0"></range>
				</td>
			</tr>
		</table>
   		<div class="drag-example" change-colour ng-touch="$event.stopPropagation();" ng-drag drag-move-element="true">Drag Me</div>
	</section>
</article>
