<article ng-switch="slide" ng-cloak>
	<section ng-switch-when="1">
		<h2>Routing</h2>
		Named links with parameter interpolation!

	</section>
	<section ng-switch-when="2">
		<h2>What about the existing links?</h2>
		An alternative to ng-href that updates the links!
	</section>
	
</article>
